<?xml version="1.0" encoding="UTF-8"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         name="CiHispano Coding Standard"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <description>The coding standard for the CiHispano Git Hooks library.</description>

    <arg name="colors"/>
    <arg value="ps"/>

    <file>src</file>

    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/build/*</exclude-pattern>
    <exclude-pattern>*/writable/*</exclude-pattern>

    <rule ref="PSR12"/>

    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Generic.Formatting.SpaceBeforeCast"/>

    <phpini name="memory_limit" value="512M"/>
</ruleset>
