# Copyright (c) 2026.
# This file is part of CiHispano Git Hooks library.

parameters:
    # We keep your 'max' level for top-tier code quality
    level: max

    paths:
        - src

    # Set a consistent temporary directory for the cache
    tmpDir: build/phpstan

    # Your strict analysis settings
    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: true

    # Exclude directories that shouldn't be analyzed
    excludePaths:
        - vendor
        - writable (?)
        - build

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
